<!DOCTYPE html>
<html ng-app="myangularfrontapp" ng-controller="myclubdetailpage">
    <head>
        <title>Colleges</title>
         <link href='./css/style.css' rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <script type="text/javascript" src="./js/angular.js"></script>
        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./js/frontapp.js"></script>
    </head>
    <body>
        <div ng-bind-html="AboutText"></div>
 
    </body>
</html>